### Project 7

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
sqliteConnection = sqlite3.connect('C:\Python\python_not_titanic\pivoted_database.db')
sql_query = pd.read_sql_query ("""SELECT * FROM Pivoted_database LIMIT 10000""", sqliteConnection)
df = pd.DataFrame(sql_query)
display(df)
data = df.drop(axis=0, index=[0,1])

,index,Unnamed: 0,ValueAsReal,ValueAsReal.1,ValueAsReal.2,ValueAsReal.3,ValueAsReal.4,ValueAsReal.5,ValueAsReal.6,ValueAsReal.7,...,ValueAsReal.57,ValueAsReal.58,ValueAsReal.59,ValueAsReal.60,ValueAsReal.61,ValueAsReal.62,ValueAsReal.63,ValueAsReal.64,ValueAsReal.65,ValueAsReal.66
0,0,Tag Name,Auto,Base Code Version,CPU Model Number,Control Level 1 Cutin,Control Level 1 Cutout,Control Level 1 Only,Control Level 2 Cutin,Control Level 2 Cutout,...,Start MB,State,Status,Supply Voltage,Switchboard Security,Sync Loss Counter,Test,Total Pump Current,VSWR,Well Level Static Sample Time
1,1,RecordTime,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2,2020-04-27 00:00:00,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,1.0,0.0,26.3,0.0,0.0,1.0,113.568,1.40350067615509,4.0
3,3,2020-04-27 00:00:04,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,1.0,0.0,26.3,0.0,0.0,1.0,113.568,1.40350067615509,4.0
4,4,2020-04-27 00:00:07,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,1.0,0.0,26.3,0.0,0.0,1.0,113.568,1.40350067615509,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,2020-04-27 08:40:14,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,0.0,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0
9996,9996,2020-04-27 08:40:15,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,0.0,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0
9997,9997,2020-04-27 08:40:18,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,0.0,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0
9998,9998,2020-04-27 08:40:19,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,0.0,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0
9999,9999,2020-04-27 08:40:21,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,0.0,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0

In [16]:
data['ValueAsReal.48'] = pd.to_numeric(data['ValueAsReal.48'])
movingavg = data['ValueAsReal.48'].rolling(window=7).mean()
display(movingavg)

2             NaN
3             NaN
4             NaN
5             NaN
6             NaN
          ...
9995    34.285714
9996    30.571429
9997    38.000000
9998    37.428571
9999    26.357143
Name: ValueAsReal.48, Length: 9998, dtype: float64

In [15]:
df['Moving_average'] = movingavg
display(df)
conn = sqlite3.connect('C:\Python\python_not_titanic\Pivoted_database_average.db')
c = conn.cursor()
df.to_sql('Pivoted_database_average',conn,)

,index,Unnamed: 0,ValueAsReal,ValueAsReal.1,ValueAsReal.2,ValueAsReal.3,ValueAsReal.4,ValueAsReal.5,ValueAsReal.6,ValueAsReal.7,...,ValueAsReal.59,ValueAsReal.60,ValueAsReal.61,ValueAsReal.62,ValueAsReal.63,ValueAsReal.64,ValueAsReal.65,ValueAsReal.66,Moving_average,Moving_Average
0,0,Tag Name,Auto,Base Code Version,CPU Model Number,Control Level 1 Cutin,Control Level 1 Cutout,Control Level 1 Only,Control Level 2 Cutin,Control Level 2 Cutout,...,Status,Supply Voltage,Switchboard Security,Sync Loss Counter,Test,Total Pump Current,VSWR,Well Level Static Sample Time,NaN,NaN
1,1,RecordTime,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
2,2,2020-04-27 00:00:00,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,113.568,1.40350067615509,4.0,NaN,NaN
3,3,2020-04-27 00:00:04,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,113.568,1.40350067615509,4.0,NaN,NaN
4,4,2020-04-27 00:00:07,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,113.568,1.40350067615509,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,2020-04-27 08:40:14,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0,34.285714,34.285714
9996,9996,2020-04-27 08:40:15,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0,30.571429,30.571429
9997,9997,2020-04-27 08:40:18,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0,38.000000,38.000000
9998,9998,2020-04-27 08:40:19,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0,37.428571,37.428571
9999,9999,2020-04-27 08:40:21,0.0,0.0,0.0,1.0,0.300000011920929,0.0,1.62000000476837,0.389999985694885,...,0.0,26.3,0.0,0.0,1.0,0.084,1.52059960365295,4.0,26.357143,26.357143

ValueError: Table 'Pivoted_database_average' already exists.